@tailwind base;
@tailwind components;
@tailwind utilities;

.clickable-card .clickable-card__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.alert {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}