on:
  pull_request:
  push:

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # checkout the repo
      - run: npm ci # install packages
      - run: npm test # run tests (configured to use mocha-json reporter)

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure() # run this step even if previous step failed
        with:
          name: Unit Tests # Name of the check run which will be created
          path: reports/unit-tests-*.xml # Path to test results
          reporter: mocha-json # Format of test results
